body{
    background-color: olive;
}

 h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
 } 

li{
    /* margin-left: 550px; */
    font-size: 25px;
    
}

.inputFlag{
    background-color: olivedrab;
    padding: 9px 40px;
}

.inputCountry{
    background-color: olivedrab;
    padding: 9px 40px;
    /* margin: 30px; */
}
p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
} 
.container{
    border-style: outset;
}

label{
    font-size: 25px;
}
.btn{
    height: 40px;
    width: 9%;
    background-color: olivedrab;
    margin: 20px;
    
}